<!DOCTYPE html>
<html lang="fr">

<%-  include header %>

<body>
        <% if(getLocale() == 'en') { %>
            <p><a href="http://localhost:8081/fr">fr</a></p>
        <% } else { %>
            <p><a href="http://localhost:8081/en">en</a></p>
        <% } %>
        <div id="menuAccueil">
                <h2><a href="http://localhost:8081/formulaire"><%= __('ajouter') %></a></h2>
                <h2><a href="http://localhost:8081/Accueil"><%= __('accueil') %></a></h2>
                <h2><a href="http://localhost:8081"><%= __('adresses') %></a></h2>
                
            </div>
    
        <form id="formulaire" action="/ajouter" method="POST">
            
            <input id="prenom" type="text" placeholder="<%= __('prenom') %>" name="prenom" required="">
            <input id="nom" type="text" placeholder="<%= __('nom') %>" name="nom" required="">
            <input id="telephone" type="text" placeholder="<%= __('telephone') %>" name="telephone" required="">
            <input id="email" type="text" placeholder="<%= __('courriel') %>" name="email" required=""><br> 
            <button id="submit" type="submit">Envoyer</button>
            
        </form>
     </body>


</html>