
<form action="/recherche" method="post" id="recherche">
    <input type="text" name="prenom" id="zone"><br>
    <input type="submit" id="rechercher" value="<%= __('rechercher') %>">
</form>


<form id="mon_formulaire" action="/modifier" method="POST">
    <input type="text" name="_id">
    <input type="text" name="prenom">
    <input type="text" name="nom">
    <input type="text" name="telephone">
    <input type="text" name="email">
</form> 

<table class="tableau">
        <% let noligne = 0 %>
            <% for(elm of adresses) { %>
                <% if (noligne==0) { %>
                    <tr>
                        <% noligne++ %>
                        <td class="_id"><a href="/trier/_id/<%= ordre %>">id</a></td>
                        <td class="prenom"><a href="/trier/prenom/<%= ordre %>"> <%= __('prenom') %> </a></td>
                        <td class="nom"><a href="/trier/nom/<%= ordre %>"> <%= __('nom') %> </a></td>
                        <td class="telephone"><a href="/trier/telephone/<%= ordre %>"> <%= __('telephone') %> </a></td>
                        <td class="email"><a href="/trier/email/<%= ordre %>"> <%= __('courriel') %> </a></td>
                        <td class="ajouter"><a href="http://localhost:8081/formulaire"><i class="fas fa-user-plus"></i></a></td>
                    </tr>
                <% } %>
    
                
    
                    <tr>
                        <% for(info in elm) { %>
                            <td class="<%= info %>" contenteditable="true"><%= elm[info] %></td>
                        <% } %>
                        <td><a href="/detruire/<%= elm._id %>"><i class="fas fa-eraser"></i></a></td>
                        <td><a  class="modifier" ><i class="far fa-save"></i></a></td>
                        <td><a href="/profil/<%= elm._id %>"><i class="fas fa-user"></i></a></td>
                    </tr>            
            <% } %>
    </table>

